section {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

#welcome {
	height: 100%;
	display: grid;
    grid-template-rows: repeat(3, auto);
}

#hero {
	align-self: center;
}

#description{
	color: #FFF;
	border-right: 1px solid	rgba(0,0,0,0.1);
}

#description h1 {
	font-size: 2rem;
}

.animation {
	display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.masthead {
	align-self: center;
	text-align: center;
}

.masthead > img{
	position: relative;
	width: 200px;
}

.animation > div.vn-brand-animate {
	display: inline-table;
}

.vn-brand-animate > i{
	padding: 10px;
	color: rgb(111, 239, 255);
	font-size: 2.5vw;
	position: relative;
	display: table-cell;
}

.vn-brand-animate > .slide{
	position: relative;
	z-index: 200;
}

.vn-brand-animate > .fa-hacker-news {
	position: relative;
	opacity: 0;
	left: -50px;
	color: #fd6721;
}

.icons{
	display: grid;
	justify-content: center;
	margin: 0 auto;
}

.copyleft {
	display:inline-block;
	transform: rotate(180deg);
	font-size: 1rem;
}

footer {
	padding: 5px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	align-self: flex-end;
}

.bottom > p, 
.bottom > span {
	position: relative;
	color: #FFF !important;
	font-size: .8rem !important;
}

@media only screen and (min-width: 767px)  {
	.vn-brand-animate > i {
		font-size: x-large !important;
	}
}

@media only screen and (max-width: 1023px)  {
	div.icons {
		padding: 1rem;
	}
	h2.detail {
		display: none;
	}
	#description{
		border-right: none;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
	#description > div {
		padding-top: 3px !important; 
		margin: 0;
	}
	.vn-brand-animate {
		font-size: small;
		display: inline-table;
	}
	.vn-brand-animate > i {
		padding: 6px;
		font-size: medium;
	}
	footer p, footer span {
		font-size: medium!important;
	}
}