section {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
  padding: 0 20px;
}

#welcome::before{
	content: ' ';
	position: fixed;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("https://static.pexels.com/photos/102720/pexels-photo-102720.jpeg") !important;
	background-size: cover;
	opacity: .4;
}

#welcome {
	height: 100%;
}

#description{
	border-right: 1px solid	rgba(0,0,0,0.1);
}

.animation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.masthead {
	position: fixed;
}

.masthead > .overlay {
	padding: 2rem;
	width: 100vw;
	height: 20vh;
	text-align: center;
	background: rgba(46, 36, 70, .9);
}

.masthead > .overlay img{
	height: 100%;
}

.animation > div.vn-brand-animate {
	display: inline-table;
}

.vn-brand-animate > i{
	padding: 10px;
	color: rgba(87, 59, 152, 1);
	font-size: 2.5vw;
	position: relative;
	display: table-cell;
}

.vn-brand-animate > .slide{
	position: relative;
	z-index: 200;
}

.vn-brand-animate > .fa-hacker-news {
	position: relative;
	opacity: 0;
	left: -50px;
	color: #fd6721;
}

.icons{
	display: grid;
	justify-content: center;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
  font-size: 1.2vw;
}

footer {
	color: rgb(255, 255, 255);
	padding: 5px;
  background: rgba(61, 51, 81, 0.9);
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer p, footer span {
	font-size: 1.2vw !important;
}

@media only screen and (min-width: 320px) and (max-width: 1023px)  {
	header.masthead > .overlay {
		padding: .8rem;
		height: 12vh;
	}
	div.icons {
		padding: 1rem;
	}
	#description{
		border-right: none;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
	#description > div {
		padding-top: 3px !important; 
		margin: 0;
	}
	.vn-brand-animate {
		font-size: small;
		display: inline-table;
	}
	.vn-brand-animate > i {
		padding: 6px;
		font-size: medium;
	}
	footer p, footer span {
		font-size: medium!important;
	}
}