#authentication {
	background: url(https://static.pexels.com/photos/285168/pexels-photo-285168.jpeg) !important;
	background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#authentication::before {
	left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  content: ' ';
	background: rgba(0,0,0,.1);
}

.vn-authentication {
	color: #FFF;
	top: 50%;
	left: 50%;
	min-width: 25%;
	max-width: 75%;
	min-height: 65%;
	padding: 20px;
	display: flex;
	position: fixed;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	transform: translate(-50%, -50%);
	background: rgba(24, 18, 35, 0.7);
	box-shadow: 0px 0px 10px rgba(153, 82, 197, 0.8);
	border-radius: 20px;
	transition: 1s all ease-in-out;
}

.vn-authentication:hover {
	background: rgba(24, 18, 35, 0.92);
	box-shadow: 0px 0px 20px rgba(153, 82, 197, 0.6);
}

.vn-authentication > div > a.navbar-brand {
	top: 10px;
	padding: 0;
	width: 80%;
	z-index: 20;
	border: none;
	background: none;
	box-shadow: none;
	position: relative;
}

.tab-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tab-content.vn-rl {
	min-height: 300px;
}

.nav-tabs {
	border-bottom: 1px solid rgba(113, 87, 169, 0.6);
}

.nav-tabs .nav-item {
	width: 50%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: rgba(113, 87, 169, 0.6);
	border: none;
	color: #FFF;
}

.nav-tabs .nav-link {
	color: #FFF;
	border: none;
}

.form-group .form-control {
	font-family: 'Arvo', serif;
	width: 100%;
	margin-top: 5px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(113, 87, 169, 0.6);
	color: #fff;
}

#toast {
	top: 20px;
	right: 20px;
	padding: 15px;
	max-width: 300px;
	background: rgba(0,0,0,0.86);
}

#toast span {
	text-align: left;
	display: flex;
	flex-direction: row;
}

#toast i{
	position: relative;
	margin: 0 10px;
}

.toast-warning i {
	color: rgba(255, 142, 2, 0.86);
}

.toast-danger i {
	color: rgba(255, 19, 19, 0.86);
}

.toast-success i {
	color: rgba(25, 150, 104, 0.86);
}

.toast-info i {
	color: rgba(76, 58, 112, .86);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(113, 87, 169, .7) !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(113, 87, 169, .7) !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(113, 87, 169, .7) !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(113, 87, 169, .7) !important;
}