#authentication {
	width: 100%;
	height: 100%;
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#authentication::before {
  content: ' ';
  background: url(http://gph.to/2xQx6I1) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vn-authentication {
	z-index: 2;
	color: #FFF;
	max-width: 640px;
	min-width: 300px;
	height: 70%;
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(24, 18, 35, 0.7);
	box-shadow: 0px 0px 10px rgba(153, 82, 197, 0.8);
	transition: .7s all ease-in-out;
}

.vn-authentication:hover {
	background: rgba(24, 18, 35, 0.92);
	box-shadow: 0px 0px 20px rgba(153, 82, 197, 0.6);
}

.vn-authentication > .navbar-brand {
	height: auto;
	padding: 0;
	z-index: 20;
	border: none;
	background: none;
	box-shadow: none;
	position: relative;
	opacity: 1;
}

.vn-authentication > .navbar-brand img{
	top: 0;
	max-width: 35%;
	min-width: 200px;
	cursor: pointer;
}

.tab-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-tabs {
	border-bottom: 1px solid rgba(113, 87, 169, 0.6);
}

.nav-tabs .nav-item {
	width: 50%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: rgba(113, 87, 169, 0.6);
	border: none;
	color: #FFF;
}

.nav-tabs .nav-link {
	color: #FFF;
	border: none;
	font-size: 1.2vw;
}

.form-group .form-control {
	font-family: 'Arvo', serif;
	font-size: 1.2vw;
	width: 100%;
	margin-top: 15px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(113, 87, 169, 0.6);
	color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(178, 142, 255) !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(178, 142, 255) !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(178, 142, 255) !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(178, 142, 255) !important;
}

@media only screen and (max-width: 1023px)  {
	.nav-tabs .nav-link, .form-group .form-control, [class*="btn-"] {
		font-size: medium !important;
	}
	.vn-authentication {
		width: 100%;
		height: 100%;
		max-width: 100% !important;
	}
	.vn-authentication > .navbar-brand img{
		max-width: 50%;
		min-width: 200px;
	}
}