@import url('https://fonts.googleapis.com/css?family=Arvo');

#app {
  background: url(https://static.pexels.com/photos/355770/pexels-photo-355770.jpeg) !important;
  background-size: cover !important;
  background-repeat: no-repeat;
}

#app::before {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  content: ' ';
  background: -moz-linear-gradient(45deg, rgba(0,0,0,.4) 10%, rgba(0,0,0,.7) 30%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,.4) 10%, rgba(0,0,0,.7) 30%, rgba(0,0,0,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,.4) 10%, rgba(0,0,0,.7) 30%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='rgba(0,0,0,.4)', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}


body{
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arvo', serif;
  font-size: large;
}

form {
  width: 100%;
}

h1, h2 {
  font-size: 2vw;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

p{
  font-size: 1.2vw;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  font-size: 1.2vw;
  font-weight: 500;
}

a.theme, a.theme:hover {
  text-decoration: none !important;
  outline: none;
  cursor: pointer;
  color: rgb(35, 144, 122) !important;
  text-shadow: none;
}

a.cite, a.cite:hover {
  font-weight: 700;
  color: #FFF; /* rgba(116, 214, 255, 1); */
}

nav {
  width: 100%;
  text-align: left;
  background: linear-gradient(0deg, rgba(180, 180, 180, .2) 0%, rgba(180, 180, 180, .6) 30%, rgba(180, 180, 180, 1) 100%);
  box-shadow: 0px 1px 20px rgba(0,0,0,0.4);
}

.container {
  height: 100%;
}

.row {
  margin: 0 auto;
}

#app {
  width: 100%;
  height: 100vh;
  text-align: center;
}

[class^="col-"] {
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  display: block !important; 
  padding-left: 5px !important;
  padding-right: 5px !important;
}

[class*="-warning"] i {
  color: rgba(255, 142, 2, 0.86) !important;
  text-shadow: 0 0 1px rgb(136, 102, 60), 
              0 0 10px rgba(112, 101, 58, 0.86), 
              0 0 20px rgba(111, 112, 58, 0.86), 
              0 0 260px #e6800f !important;
}

[class*="-danger"] i {
  color: rgba(255, 19, 19, 0.86) !important;
  text-shadow: 0 0 1px rgba(112, 58, 58, 0.86), 
              0 0 10px rgba(112, 58, 58, 0.86), 
              0 0 20px rgba(112, 58, 58, 0.86), 
              0 0 260px #ff0000 !important;
}

[class*="-success"] i {
  color: rgba(25, 150, 104, 0.86) !important;
  text-shadow: 0 0 1px rgba(58, 112, 102, 0.86), 
              0 0 10px rgba(58, 112, 90, 0.86), 
              0 0 20px rgba(58, 112, 93, 0.86), 
              0 0 260px #00ffa3 !important;
}

[class*="-info"] i {
  color: rgba(153, 105, 249, 0.86) !important;
  text-shadow: 0 0 1px rgba(76, 58, 112, .86), 
              0 0 10px rgba(76, 58, 112, .86), 
              0 0 20px rgba(76, 58, 112, .86) , 
              0 0 260px #ff00de !important;
}

.img-fluid {
  padding: 10px;
}

.copied {
  background-color: rgba(18, 98, 94, 1) !important;
}

.text-muted {
  color: rgb(77, 173, 155) !important;
}

.text-theme{
  color: rgba(78, 88, 177, 0.53);
}

.navbar-light .navbar-text {
  color: rgb(170, 54, 77) !important;
}
.footer > .navbar{
  max-height: 50px;
  background: #000;
  color: rgba(180, 180, 180, 0.9);
}

.tooltip {
  top: 2rem;
  right: 2rem;
  width: 100px;
  padding: 5px 10px !important;
  position: absolute;
  background: #2e284f;
  box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  font-size: .7rem;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: .1s ease-in;
  -webkit-transition-delay: .1s; /* Safari */
  -moz-transition-delay: .1s; /* Firefox */
  -o-transition-delay: .1s;
  transition-delay: .1s;
}

/* BUTTONS */
[class*="btn-"] {
  font-size: 1.2vw;
  font-weight: 500;
}

[class*="btn-warning"] {
  border:1px solid rgba(255, 142, 2, 0.86) !important;
  background: transparent;
  color: rgba(255, 142, 2, 0.86) !important;
}

[class*="btn-warning"]:hover {
 background-color: rgba(255, 142, 2, 0.86) !important; 
 color: #FFF !important;
}

[class*="btn-danger"] {
  border:1px solid rgba(255, 19, 19, 0.86) !important;
  background: transparent;
  color: rgba(255, 19, 19, 0.86) !important;
}

[class*="btn-danger"]:hover {
 background-color: rgba(255, 19, 19, 0.86) !important; 
 color: #FFF !important;
}

[class*="btn-success"] {
  border:1px solid rgba(25, 150, 104, 0.86) !important;
  background: transparent;
  color: rgba(25, 150, 104, 0.86) !important;
}

[class*="btn-success"]:hover {
 background-color: rgba(25, 150, 104, 0.86) !important; 
 color: #FFF !important;
}

[class*="btn-info"] {
  font-size: 1.2vw;
  font-weight: 500;
  border: 1px solid rgba(87, 59, 152, .86) !important;
  background: transparent;
  color: rgb(138, 99, 230) !important;
}

[class*="btn-info"]:hover {
 background-color: rgba(87, 59, 152, 1) !important; 
 color: #FFF !important;
}

.btn-theme {
  font-family: 'Arvo', serif;
  width: 100%;
  padding: 7px;
  color: rgb(35, 144, 122);
  background-color: transparent; /*rgba(0, 0, 0, 0.88);*/
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.btn-theme:focus, .btn-transparent:focus, .btn-tooltip {
  outline: none;
}

.btn-theme:hover {
  color: #FFF;
  background: rgba(113, 87, 169, 0.6);
  box-shadow: 0 1px 2px rgb(130, 110, 179);
}

.btn-tooltip {
  position: fixed;
}

.btn-tooltip:hover > .tooltip{
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in;
  -webkit-transition-delay: .75s; /* Safari */
  -moz-transition-delay: .75s; /* Firefox */
  -o-transition-delay: .75s;
  transition-delay: .75s;
}

.btn-tooltip:not(:hover) > .tooltip {
  opacity: 0;
  visibility: hidden !important;
}

.btn-transparent {
  font-family: 'Arvo', serif;
  width: 100%;
  outline: none;
  cursor: pointer;
  color: rgba(46, 36, 70, 1);
  background-color: transparent;
  border: 1px solid rgba(199, 176, 249, 0.75);
}

.btn-transparent:hover {
  background: rgba(46, 36, 70, 1) !important;
  color: rgba(21, 103, 109, 1) !important;
}
/* END of BUTTONS */

/* TOASTER */
#toast {
  top: 20px;
  right: 20px;
  padding: 15px;
  max-width: 300px;
  background: rgba(0,0,0,0.86);
}

#toast span {
  text-align: left;
  display: flex;
  flex-direction: row;
}

#toast i{
  position: relative;
  margin: 0 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
}
/* END OF TOASTER */

/* PAGE TRANSITION ANIMATION */

.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 1.3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active for <2.1.8 */ {
  opacity: 0;
}
/* END OF TRANSITION */

@media only screen and (max-width: 1023px)  {
  h1, h2 {
    font-size: medium;
  }
  a, p, h3, h4, h5, h6, li, button, i, [class*="btn-"] {
    font-size: medium;
  }
  a.cite {
    color: rgb(165, 169, 205);
    cursor: pointer;
  }
  .featurette-footer {
    display: none;
  }
  .vn-featurette-footer {
    display: block;
    text-align: left;
    padding: 30px;
    background: rgba(0,0,0,0.6);
  }
  .navbar-brand {
    display: none;
    height: auto;
    position: relative;
  }
  .navbar-brand img {
    top: 0;
    width: auto;
  }
}