body{
  width: 100%;
  height: 100%;
  font-family: 'Hind Guntur', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
}
#app:before {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  content: ' ';
  /*background: rgba(0, 0, 0, 0.2);*/
  background: rgba(78, 88, 177, 0.53);
}
#app {
  width: 100%;
  height: 100%;
  background: url(https://farm2.staticflickr.com/1590/24994155621_dce78df3b8_k.jpg);
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1, h2 {
  font-weight: normal;
}

h6 b{
  color: #FFF;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

p{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

a, a:hover {
  text-decoration: none !important;
  outline: none;
  cursor: pointer;
  color: rgba(78, 88, 177, 1);
}

a.cite, a.cite:hover {
  font-weight: 700;
  color: rgba(116, 214, 255, 1);
}

div[class~="col-lg-2"] {
  padding: 0 0.25rem;
}

nav {
  width: 100%;
  text-align: left;
  background: linear-gradient(0deg, rgba(180, 180, 180, .2) 0%, rgba(180, 180, 180, .6) 30%, rgba(180, 180, 180, 1) 100%);
  box-shadow: 0px 1px 20px rgba(0,0,0,0.4);
}

.tooltip > .tooltip-inner {
  color: #42b983 !important;
}

.text-muted {
  color: rgba(78, 88, 177, 0.4) !important;
}

.text-theme{
  color: rgba(78, 88, 177, 0.53);
}

.navbar-light .navbar-text {
  color: rgb(170, 54, 77) !important;
}
.footer > .navbar{
  max-height: 50px;
  background: #000;
  color: rgba(180, 180, 180, 0.9);
}